

#head_picture{
	min-height:100%;
    width:100%;
    overflow: hidden;
	z-index: 1;
}

#head_td{
	background-color: black;
	height: 80px;
	width: 100%;
	position: fixed;
	opacity: 0.1;
}

body{
	margin: 0px;
	background-color: black;
}


.test{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0e0a+0,9a999b+20,ffffff+88,ffffff+99,ffffff+100,ffffff+100,ffffff+100,ffffff+100,ffffff+100,ffffff+100 */
background: rgb(10,14,10); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,14,10,1) 0%, rgba(154,153,155,1) 20%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,14,10,1)), color-stop(20%,rgba(154,153,155,1)), color-stop(88%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,14,10,1) 0%,rgba(154,153,155,1) 20%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,14,10,1) 0%,rgba(154,153,155,1) 20%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,14,10,1) 0%,rgba(154,153,155,1) 20%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,14,10,1) 0%,rgba(154,153,155,1) 20%,rgba(255,255,255,1) 88%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0e0a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	height: 5000px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}




